.pull-right {
  float: right;
}

.checked {
  text-decoration: line-through;
}

.flying {
  transform: translateX(200%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

h3 {
  text-align: center;
}

.color-picker-interior {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.color-picker-button {
  height: 90%;
  width: 20%;
  background-color: lightgreen;
}

.color {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  margin-top: 5px;
}
